<!DOCTYPE html>
<!-- Mi primera página html del curso -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <!-- Head reutilizable -->
  <head th:replace="~{general/fragmentos :: head}">
      <title>TechShop</title>
</head>

    <body>
        <!-- Header reutilizable -->
        <header th:replace="~{general/fragmentos :: header}"/>

        <!-- Footer reutilizable -->
        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>